# Copy this file to Parameters to start a fresh configuration
# Name of the vhost to create
$suffix = "pl"
$app = "APP NAME (e.g. project.client)"
$vhost = $app + "." + $suffix

# VM IP Not yet used
# $private_network_ip = "192.168.100.100"

# Use NFS?
$use_nfs = true

# Base box name
$base_box = "debian/jessie64"

# system
$ntp_timezone = 'Europe/Zurich'

# SF
$database_name = "db_name"
$database_user=  "db_user"
$database_password = "db_password"
$nginx_template = "vagrant.conf"